
input[type="text"]{
  width:120px;
  height: 25px; 
}
.ng-container {
  white-space: nowrap;
  width: 100%;
}
.grilla-container {
  width: 100%;
  overflow-x: auto;
  position: relative;
  white-space: nowrap;
}

.header-cell {
  white-space: nowrap;
}

.header-content {
  display: flex;
  align-items: center; 
}

.header-content mat-icon {
  margin-left: 4px;
}
mat-icon.active {
  color: #00bcd4; 
}

.search-icon {
  cursor: pointer;
  margin-top: 2px;
}
.search-input {
  margin-right: 22px; 
  margin-right: 12px;
}

.custom-button {
  border: none;
  border-radius: 12px;
  padding: 5px 10px;
  background-color: rgb(46, 46, 199);
  color: white;
  font-weight: bold;
  margin: 2px 20px 2px 20px;
  height: 30px;
}

.custom-button:hover {
  background-color: darkblue;
  cursor: pointer;
}




