<div>
    <form>
        <div class=" campo">
            <h1>Agregar nuevo resumen</h1>
            <label for="">Seleccione categoria: </label>
            <select name="" id="">
                <option value="">categoria 1</option>
                <option value="">categoria 2</option>
            </select>
            <br>
            <label for="">Ingrese dinero inicial:</label>
            <input type="text">
            <div class="botones-container">
                <button class="custom-button">Cancelar</button>
                <button class="custom-button">Guardar</button>
            </div>
        </div>
    </form>
</div>