<div class="toolbar" role="banner">
</div>

<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Bienvenido</h1>
        <div>
            <input type="text" name="username" placeholder="Email" formControlName="CorreoElectronico" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="Contraseña"  formControlName="Contraseña"required>
        </div>
        
        <div class="mensaje-error" *ngIf="errorMessage">{{ errorMessage }}</div>
        
        <button type="submit" class="btn" >Acceder</button>
        
        <p><a href="#">He olvidado mi contraseña</a></p>
    </form>
    <div>
        <button class="alta-button" (click)="crearUsuario()">Crear de usuario</button>
    </div>
</div>
 
   
