.contenedor-botones{
    margin: 20px;
}
.custom-button {
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(46, 46, 199);
    color: white;
    font-weight: bold;
}

.custom-button:hover {
    background-color: darkblue;
    cursor: pointer;
}
