.custom-button {
    border: none;
    border-radius: 15px; /* Valor intermedio para bordes redondos */
    padding: 10px 20px;
    background-color: blue; /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    font-weight: bold;
}

.custom-button:hover {
    background-color: darkblue; /* Cambia el color de fondo al pasar el ratón */
    cursor: pointer;
}
