<mat-dialog-content>
  <ng-container *ngIf="mostrarLapiz; else nuevoValorContent">
    <a (click)="abrirNuevoDialogo()" style="cursor: pointer">
      <mat-icon>create</mat-icon>
    </a>
    <div *ngIf="obtenerCuenta">
      <h2>Cuentas</h2>
      <ul>
        <li
          *ngFor="let cuenta of obtenerCuenta"
          (click)="seleccionarCuenta(cuenta)"
          style="cursor: pointer"
        >
          {{ cuenta.nombre }}
        </li>
      </ul>
      <!-- <select name="" id="">
        <option value=""*ngFor="let cuenta of obtenerCuenta"
        (click)="seleccionarCuenta(cuenta)"> {{cuenta.nombre}}</option>
      </select> -->
    </div>
    <mat-dialog-actions align="end">
      <button mat-button (click)="cerrarPopup()">Cerrar</button>
    </mat-dialog-actions>
  </ng-container>

  <ng-template #nuevoValorContent>
    <h2>Agregar cuenta</h2>
    <input matInput placeholder="Ingrese cuenta" [(ngModel)]="cuentas" />
    <!-- <textarea matInput placeholder="Opción seleccionada">{{ opcionSeleccionada }}</textarea> Mostrar la opción seleccionada aquí -->
    <mat-dialog-actions align="end">
      <button mat-button [disabled]="!cuentas" (click)="guardarValor()">
        Guardar
      </button>
    </mat-dialog-actions>
  </ng-template>
</mat-dialog-content>
