/* Estilo para los botones */
button {
    border: none;
    border-radius: 20px; /* Ajusta el valor según desees el redondeo */
    padding: 10px 20px;
    font-weight: bold;
}

/* Estilo específico para el botón Guardar */
button[type="submit"] {
    background-color: blue; /* Cambia este color según prefieras */
    color: white;
}

/* Estilo para los input */
input[type="text"],
input[type="date"],
textarea {
    border-radius: 10px; /* Ajusta el valor según desees el redondeo */
    padding: 8px 12px;
    font-weight: bold;
    width: 200px; /* Cambia este valor según el ancho deseado */
    box-sizing: border-box; /* Incluir padding en el ancho total */
}

/* Estilo para el contenedor del formulario */
.formulario {
    margin: 20px;
}

/* Opcional: Estilo para el campo del formulario */
.campo {
    margin-bottom: 15px;
}

/* Opcional: Estilo para las etiquetas */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
