

<label>CategoriaDeGastos:</label>
<input type="text" [(ngModel)]="data.gasto.CategoriaDeGastos" />
<br>
<label>Monto:</label>
<input type="number" [(ngModel)]="data.gasto.Monto" />
<br>
<label>cuenta:</label>
<input type="text" [(ngModel)]="data.gasto.cuenta" />
<br>
<label>Descripcion:</label>
<input type="text" [(ngModel)]="data.gasto.Descripcion" />
<br>
<label>Fecha:</label>
<input type="text" [(ngModel)]="data.gasto.Fecha" />
<br>

<button mat-button [mat-dialog-close]="gasto" cdkFocusInitial>Cerrar</button>
<button type="button" (click)="guardarCambios()">Guardar Cambios</button>

