button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

button[type="submit"] {
    background-color: blue;
    color: white;
}

input[type="text"],
input[type="date"],
textarea {
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bold;
    width: 200px;
    box-sizing: border-box;
}

.formulario {
    margin: 20px;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
select {
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bold;
    width: 200px;
    box-sizing: border-box;
   
}
