input[type="text"],
input[type="date"],
input[type='number'],
textarea {
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bold;
    width: 200px;
    box-sizing: border-box;
}

.campo {
    margin: 20px 0px 100px 20px;
}

.campo label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.campo input[type="text"] {
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bold;
    width: 200px;
    box-sizing: border-box;
}
input{
    margin-bottom: 20px;
}
select {
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bold;
    width: 200px;
    box-sizing: border-box;
   
}
.botones-container {
    width: auto;
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background-color: #0366d6;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0459bd;
}
.custom-edit-button{
    background-color: rgb(46, 46, 199);
    padding: 0;
    width: 40px; 
    height: 25px;
    margin: 20px 0px 20px 0px;  
  }
  .custom-edit-button:hover{
    background-color: darkblue;
  }
