<!-- <div *ngIf="abrirPopupCategoria">
    <app-categoria (categoriaSeleccionada)="llegaCategoria($event)"></app-categoria>
</div> -->


<form (ngSubmit)="guardarGasto()" class="formulario">
    <div class="campo">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" [(ngModel)]="nuevoGasto.fecha" required>
    </div>
    <div class="campo">
        <label for="importe">Importe:</label>
        <input type="text" id="importe" name="importe" [(ngModel)]="nuevoGasto.importe">
    </div>

    <div class="campo">
        <label for="categoria">Categoria:</label>
        <select id="categoria" name="categoria" [(ngModel)]="nuevoGasto.categoria">
            <option value="">Categoría</option>
            <option *ngFor="let categoria of categorias" (click)="seleccionarCategoria(categoria)" style="cursor: pointer">{{ categoria.nombre }}</option>
        </select>
    </div>
        
    <div class="campo">
        <label for="cuenta">Cuenta:</label>
        <select id="cuenta" name="cuenta" [(ngModel)]="nuevoGasto.cuenta">
            <option value="">Cuenta</option>
            <option *ngFor="let cuenta of obtenerCuenta" [value]="cuenta">{{ cuenta.nombre }}</option>
        </select>
    </div>

    <div class="campo">
        <label for="nota">Nota:</label>
        <textarea id="nota" name="nota" [(ngModel)]="nuevoGasto.nota"></textarea>
    </div>
    <button type="submit">Guardar</button>
</form>

