<form [formGroup]="gastoForm" (ngSubmit)="onSubmit()" class="formulario">
  <div class="campo">
    <h1>{{ isEditMode ? 'Editar Gasto' : 'Nuevo Gasto' }}</h1>
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" formControlName="fecha" required>

    <label for="monto">Monto:</label>
    <input type="text" id="monto" formControlName="monto" placeholder="Ingrese el importe" required>

    <label for="categoria">Categoria:</label>
    <select id="categoria" formControlName="idCategoriaGasto" (change)="seleccionarCategoria()" required>
      <option *ngFor="let categoria of categorias" [value]="categoria.idCategoriaGasto">{{ categoria.nombre }}</option>
    </select>

    <label for="cuenta">Cuenta:</label>
    <select id="cuenta" formControlName="idCuenta" (change)="seleccionarCuenta()" required>
      <option *ngFor="let cuenta of obtenerCuenta" [value]="cuenta.idCuenta">{{ cuenta.nombre }}</option>
    </select>

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" formControlName="descripcion" placeholder="Ingrese descripción del gasto"></textarea>

    <div class="mensaje-exitoso" *ngIf="envioMessage">{{ envioMessage }}</div>
    <div class="mensaje-error" *ngIf="errorMessage">{{ errorMessage }}</div>

    <div class="botones-container">
      <button type="button" (click)="afterClosed()">Cancelar</button>
      <button type="submit" [disabled]="gastoForm.invalid">{{ isEditMode ? 'Actualizar gasto' : 'Agregar gasto'}}</button>
    </div>
  </div>
</form>